@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Ubuntu', sans-serif;
  background-color: #F5F7F8;
}
.App {
  color: black;
}

.Logo {
  height: 4rem;
  max-height: 4rem;
  margin-top: 10rem;
  animation: fadeIn ease 3s;
}

/* Homepage Styles */

.Home {
  background-size: cover;
  text-align: center;
}

.Home h3 {
  margin-top: 2rem;
  font-size: 1.3rem;
  font-weight: 200;
  animation: fadeIn ease-in-out 1s;
}

.Home h2 {
  font-weight: 400;
  margin-top: 1.7rem;
  animation: fadeIn ease 3s;
}

.Title {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 10rem;
  color: black;
  animation: fadeIn ease 3s;
}


.ButtonWrapper {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  width: 15rem;
  margin: 3rem auto;
  animation: fadeIn ease 3s;
  color: black;
}

.Button {
  cursor: pointer;
  font-weight: 200;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: black;
}

.Button:hover {
  transform: scale(1.1);
}

.Med-Button {
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: 300;
  text-decoration: none;
  color: black;
}

.Med-Button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Signup/Login Styles */

.FormContainer {
  border: 1px solid #F5F7F8;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 6rem auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
  color: black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  animation: fadeIn ease-in-out 1s;
  text-align: center;
}

.FormContainer h2 {
  font-size: 2.5rem;
}

.SignupForm {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 1.3rem;
  font-weight: 300;
}

.LabelInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
}

.LabelInput input {
  font-size: 1.3rem;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #F5F7F8;
  outline: none;
  margin-top: 5px;
}

.LabelInput input:focus {
  border: 1px solid #0076c5ba;
}

.SignupButton {
  font-size: 1.3rem;
  margin: 1rem auto;
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 90%;
  background-color: #0076c5ba;
  color: white;
  cursor: pointer;
  transition: all ease 500ms;
}

.SignupButton:hover {
  background-color: #0076c5ef;
}

.SignupContainer p {
  font-weight: 200;
}

.HomeIcon {
  cursor: pointer;
  color: black;
}

.HomeIcon:hover {
  color:#fa5252;
}

.HomeIconWrapper {
  display: flex;
  justify-content: flex-end;
}

/* Signup/Login Error */

.ErrorWrapper {
  display:flex;
  justify-content: center;
  align-items: center;
  margin:auto;
}

.ErrorStatus {
  font-size: 1.3rem;
  padding:  5px 11px;
  border-radius: 10px;
  background-color: #e64b40da;
  color: white;
}

.AccountTypeContainer {
  border: 1px solid #F5F7F8;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 6rem auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
  color: black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.LogoWrapper {
  display: flex;
  justify-content: flex-start;
}

/* Dashboard View */

.Dashboard {
  display: flex;
  flex-direction: row;
}

/* Sidebar */

.Sidebar {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #343A40;
  height: 100vh;
  width: 18rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.SidebarTitleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.SidebarTitleLogo {
  width: 40px; 
  height: 40px; 
}

.Sidebar h1 {
  margin: 10px;
  color: white;
  font-weight: 500;
  width: 50%;
}

.Sidebar h2 {
  margin-top: 1rem;
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
}

.SidebarButtonContainer {
  margin-top: 2rem;
}

.SidebarButton {
  font-size: 1.3rem;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.7);
  width: 60%;
  margin: 1.7rem auto;
  padding: 7px 10px;
  list-style-type: none;
  border-radius: 5px;
  cursor: pointer;
}

.SidebarButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.1s ease-in-out;
  box-shadow: rgba(242, 239, 239, 0.09) 0px 7px 29px 0px;
}

.SidebarFooterWrapper {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.SidebarFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}

.BarsIcon {
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

.LogoutButton {
  font-size: 1.3rem;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 7px 3rem;
  cursor: pointer;
}

.LogoutButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.1s ease-in-out;
  box-shadow: rgba(242, 239, 239, 0.09) 0px 7px 29px 0px;
}


.Main {
  margin: 2rem;
}

.EmployeesPage {
  margin: 2rem;
}

.MessagesPage {
  margin: 2rem;
}

/* CreateCall */

.CreateCall {
  margin-top: 2rem;
  border: 1px solid black;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50rem;
  padding: 1rem;
}

.ContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ContentContainer h3 {
  border-bottom: 1px solid black;
}

.ContentContainer span {
  margin-top: 10px;
}

.ContentContainer input {
  width: 75%;
  margin-top: 10px;
  font-size: 1rem;
  padding: 5px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid black;
}

/* Call */

.Call {
  margin-top: 2rem;
  border: 1px solid black;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50rem;
  padding: 1rem;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}